{% extends 'base.html' %}

{% block content %}
  <div style="max-width: 400px; margin: 0 auto; background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); margin-top: 15px;">
    <h2 style="text-align: center; color: #333;">Register</h2>
    <form method="post" style="padding: 20px 0;">
      {% csrf_token %}
      <div style="margin-bottom: 15px;">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div style="margin-bottom: 15px;">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <div style="margin-bottom: 15px;">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
      </div>
      <div style="margin-bottom: 15px;">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
      </div>
      <button type="submit" style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Register</button>
    </form>
    <p style="text-align: center; color: #555;">Already have an account? <a href="{% url 'login' %}" style="color: #007bff; text-decoration: none;">Login here</a>.</p>
  </div>
{% endblock %}
