{% extends 'base.html' %}

{% block content %}
  <div style="display: flex; justify-content: center; margin: 15px;" >
    <div style="max-width: 400px; background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
      <h2 style="text-align: center; color: #333;">Login</h2>
      <form method="post" style="padding: 20px 0;">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div style="margin-bottom: 15px;">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <button type="submit" style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Login</button>
      </form>
      <p style="text-align: center; color: #555;">Don't have an account? <a href="{% url 'register' %}" style="color: #007bff; text-decoration: none;">Register here</a>.</p>
    </div>
  </div>
{% endblock %}
